$box-width: 0px;
$box-height: 0px;

.html,
body,
#root,
.App {
    height: 100vh;
    padding: 0px;
    margin: 0px;
    box-sizing: content-box;
}
.landing {
    border: 1px solid blue;
    width: 100vw;
    height: 100vh;
    div {
        border-radius: 50px;
    }
    .one {
        position: relative;
        background-color: black;
        width: $box-height;
        height: $box-width;
        margin: auto;
        // top: 50vh;
        // left: 50vw;
    }
}
