$gunmetal: #2a2d34ff;
$carolina-blue: #009ddcff;
$orange-red: #f26430ff;
$dark-blue-gray: #6761a8ff;
$green-cyan: #009b72ff;

$white: #ffffffff;
$rich-black-fogra-29: #00171fff;
$prussian-blue: #003459ff;
$celadon-blue: #007ea7ff;
$carolina-blue: #00a8e8ff;

$theFont: "Impact";

/* MAIN COLOR VARS */
$background: $celadon-blue;
$buttons: $carolina-blue;
$sidebar: $green-cyan;
$namePane: $carolina-blue;
$namePaneFontColor: $white;
$projectsPane: $prussian-blue;
$projectsPaneFontColor: $gunmetal;
$skillsPane: $orange-red;
$skillsPaneFontColor: $green-cyan;
$experiencePane:$dark-blue-gray;
$experiencePaneFontColor: $orange-red;
$contactPane: $carolina-blue;
$contactPaneFontColor: $white;